html {
    font-size: 62.5;
}

ul {
    display: flex;
    list-style: none;
    color: #0000FF;
    justify-content: space-between;
    font-size: 2rem;
    padding: 0%;
}

.item {
    display: flex;
    flex-direction: row;
}

.centernav {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}

